.abouthome-container {
  margin: 40px 0;
}
.home-aboutCard {
  background-color: black;
  border: none;
}
.home-about-text {
  border: none;
  background: none;
}
.about-info {
  line-height: 50px;
  color: gray;
  font-family: monospace;
}
.about-title {
  font-family: Lucida Sans;
}
