.review-card {
  border: none;
  box-shadow: inset 8px 8px 12px rgb(246, 246, 246),
    inset -8px -8px 12px rgb(248, 248, 248);
  background-color: rgb(200, 200, 200);
  color: #8d5d1f;
}
.review-rating {
  color: goldenrod;
}
.review-name {
  box-shadow: 8px 8px 13px rgb(247, 218, 223), -6px -6px 10px rgb(243, 221, 253);
  padding: 6px 0;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  color: brown;
}
