#banner {
  width: 100%;
  /* background: url("https://i.ibb.co/d6BTrhv/watchbg.jpg") fixed; */
  background: url("https://i.ibb.co/DCRWHfx/C3urwd.jpg") fixed;
  /* background: url("https://i.ibb.co/k37cmJR/bg2.jpg") fixed; */
  padding: 10% 0;
}
.banner-card {
  background: none;
  border: none;
}
.image {
  max-height: 400px;
  margin: auto;
  width: 100%;
}
.banner-titile {
  color: #f3cb96;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.bannet-text {
  color: #9f7a49;
  font-weight: 700;
  margin: 25px 0;
  font-family: cursive;
}
.banner-btn {
  background: none;
  color: #9f7a49;
  border: 1px solid #f3cb96;
  padding: 5px 20px;
  text-decoration: none;
}
#tsparticles {
}
