.web-name {
  font-family: fantasy;
}
.m {
  color: #fbaa3f;
}
.banner-qutes {
  letter-spacing: 10px;
  font-weight: 700;
  font-family: Cambria;
}
.banner-span {
  color: #fbaa3f;
}
.meaning {
  color: gray;
  font-family: Arial Narrow;
  letter-spacing: 3px;
}
